<div class="container">
    <form #hikingForm="ngForm">
      <div class="form-group">
        <label for="organiserName">Event organiser name *</label>
        <input type="text" class="form-control" required [(ngModel)]="model.organiserName" ngControl="organiserName"  #organiserName="ngForm" />
        <div [hidden]="organiserName.valid || organiserName.pristine" class="alert alert-danger">
          Organiser name is required
        </div>
      </div>
      <div class="form-group">
        <label for="organiserPhone">Event organiser French mobile phone number (eg. 0600000000) *</label>
        <input type="tel" class="form-control" pattern="^0[6-7][0-9]{8}" required [(ngModel)]="model.organiserPhone" ngControl="organiserPhone"  #organiserPhone="ngForm"/>
        <div [hidden]="organiserPhone.valid || organiserPhone.pristine" class="alert alert-danger">
          French mobile phone number is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Hiking name (eg. Puy de Naouri) *</label>
        <input type="text" class="form-control" required [(ngModel)]="model.name" ngControl="name"  #name="ngForm"/>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Hiking name is required
        </div>
      </div>
      <div class="form-group">
        <label for="level">Hiking level *</label>
        <select class="form-control" required [(ngModel)]="model.level" ngControl="level"  #level="ngForm">
            <option *ngFor="#level of levels" [value]="level">{{level}}</option>
        </select>
        <div [hidden]="level.valid || level.pristine" class="alert alert-danger">
          Hiking level is required
        </div>
      </div>
      <div class="form-group">
        <label for="duration">Hiking duration in hours (eg. 4)*</label>
        <input type="number"  step = "1" class="form-control" required [(ngModel)]="model.duration" ngControl="duration"  #duration="ngForm"/>
        <div [hidden]="duration.valid || duration.pristine" class="alert alert-danger">
          Hiking duration is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="string">Hiking positive elevation in meters (eg. 600) *</label>
        <input type="number"  step="50" class="form-control" required [(ngModel)]="model.elevation" ngControl="elevation"  #elevation="ngForm" />
        <div [hidden]="elevation.valid || elevation.pristine" class="alert alert-danger">
          Hiking elevation is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="number">Maximum number of participants (eg. 20)*</label>
        <input type="number"  step = "1" class="form-control" required
            [(ngModel)]="model.numberOfPeople" ngControl="number"  #numberOfPeople="ngForm" value="20"/>
        <div [hidden]="numberOfPeople.valid || numberOfPeople.pristine" class="alert alert-danger">
          Maximum number of participants is required
        </div>
      </div>
      
      <div class="form-group">
            <label for="string">Meeting point time (eg. 01/01/2016 10:00) *</label>
            <div class="input-group date datetimepicker">
                <input type="text" class="form-control" [(ngModel)]="model.date" ngControl="date"  #date="ngForm" id="date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
      </div>
      
      <div class="form-group">
        <label for="string">Meeting point location (eg. Gare de Frejus, Frejus) + Point in the map *</label>
        <fieldset class="gllpLatlonPicker">
            <input type="text" class="gllpSearchField" required [(ngModel)]="model.location" ngControl="location"  #location="ngForm">
            <input type="button" class="gllpSearchButton" value="Search an address"><br/><br/>
            <div class="gllpMap">Google Maps</div>
            <input type="hidden" id="latitude" class="gllpLatitude" value="43.706644"/>
            <input type="hidden" id="longitude" class="gllpLongitude" value="7.262085"/>
            <input type="hidden" class="gllpZoom" value="10"/>
        </fieldset>
        <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
          Meeting point location is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="link">Hiking link (eg. http://www.randoxygene.org/pge/rando_pe/affiche_rando.php?rubrique=1&zone=3&rando=28&current=pc-8&ct=pc)</label>
        <input type="text" class="form-control" [(ngModel)]="model.link" ngControl="link"  #link="ngForm"/>
      </div>
      
      <div class="form-group">
        <label for="string">Additional informations (eg. Don't forget to take your flash light)</label>
        <textarea rows="4" cols="50" class="form-control" [(ngModel)]="model.additionalInfo" ngControl="additionalInfo"  #additionalInfo="ngForm"></textarea>
      </div>
      
      <p>* Required fields</p>
      <button class="btn btn-default" [disabled]="!hikingForm.form.valid" (click)="onSubmit()">Submit</button>
    </form>
</div>